In [1]:
import pandas as pd

## 1.Dafatrame 생성 - pd.DataFrame( ) 함수

### 1. index를 따로 지정해서 만들기 
- pd.DataFrame(딕셔너리, index)

In [2]:
df1 = pd.DataFrame({"a" : [1,2,3],
                  "b" : [4,5,6],
                  "c" : [7,8,9]}, index=[1,2,3])
df1

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

### 2. index를 따로 지정하지 않는 경우
- pd.DataFrame(딕셔너리) : default 는 0,1,2,3... 이다.

In [3]:
df2 = pd.DataFrame({"a" : [1,2,3],
                  "b" : [4,5,6],
                  "c" : [7,8,9]})
df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

### 3. 리스트로 만들기
- pd.DataFrame(리스트, columns, index)

In [4]:
df3 = pd.DataFrame(data = [[1,4,7],[2,5,8],[3,6,9]], columns = ['a','b','c'], index = [1,2,3])
df3

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

### 4. 멀티인덱스 만들기
- pd.MultiIndex(인덱스 리스트, names)

In [5]:
df4 = pd.DataFrame({"a" : [1,2,3],
                  "b" : [4,5,6],
                  "c" : [7,8,9]},
                  index = pd.MultiIndex.from_tuples(
                  [('d',1), ('d',2), ('e',1)], names=['n','v']))
df4

     a  b  c
n v
d 1  1  4  7
  2  2  5  8
e 1  3  6  9

## 2. DataFrame에 접근하기

In [6]:
df = pd.DataFrame({"a" : [1,2,3],
                  "b" : [4,5,6],
                  "c" : [7,8,9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

### 1. DataFrame 정보얻기
- df.index / df.columns / df.values / df.shape / df.info()

In [7]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [9]:
df.values

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]], dtype=int64)

In [10]:
df.shape

(3, 3)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes

### 2. 열을 인덱스로 만들기
- df.set_index(열)
- 열을 여러개 지정하는 경우에는 리스트로 지정

In [12]:
df.set_index('a')

   b  c
a
1  4  7
2  5  8
3  6  9

In [13]:
df.set_index(['a', 'b'])

     c
a b
1 4  7
2 5  8
3 6  9

### 3. 인덱스 초기화하기
- df.reset_index()
- drop 옵션은 default 가 False : 기존의 인덱스를 첫번째열로 삽입
- drop=True 로 지정하면 기존의 인덱스를 버리고 정렬

In [14]:
df.reset_index(drop = False)

   index  a  b  c
0      0  1  4  7
1      1  2  5  8
2      2  3  6  9

In [15]:
df.reset_index(drop = True)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9