In [49]:
import pandas as pd

In [50]:
df = pd.DataFrame({'êµ­ì–´':[90, 85, 88],
                   'ìˆ˜í•™':[92, 88, 96],
                   'ê³¼í•™':[85, 92, 90]},
                   index = ['A','B','C'])
df

   êµ­ì–´  ìˆ˜í•™  ê³¼í•™
A  90  92  85
B  85  88  92
C  88  96  90

## 1. í–‰ì— ì ‘ê·¼
- loc( ) : ì¸ë±ìŠ¤ì˜ ì´ë¦„ì„ ì¸ìˆ˜ë¡œ ë°›ìŒ
- iloc( ) : ì¸ë±ìŠ¤ì˜ ìˆœì„œë¥¼ ì¸ìˆ˜ë¡œ ë°›ìŒ(0,1,2...)

In [51]:
df.loc['A']

êµ­ì–´    90
ìˆ˜í•™    92
ê³¼í•™    85
Name: A, dtype: int64

In [52]:
df.iloc[2]

êµ­ì–´    88
ìˆ˜í•™    96
ê³¼í•™    90
Name: C, dtype: int64

## 2. í–‰/ì—´ì— ì ‘ê·¼

### 2.1. loc
- loc( ) í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ëŠ” ê²½ìš°ì—ëŠ” ê¼­ í–‰/ì—´ì˜ ì´ë¦„ì„ ì¸ìˆ˜ë¡œ ë„£ì–´ì•¼ í•œë‹¤!!
- A:B í˜•íƒœë¡œ ìŠ¬ë¼ì´ì‹± í• ë•Œ A,Bê°€ characterì´ë©´ Bë„ í¬í•¨ëœë‹¤.

In [8]:
df.loc[:, 'ìˆ˜í•™':'ê³¼í•™']

   ìˆ˜í•™  ê³¼í•™
A  92  85
B  88  92
C  96  90

In [12]:
df.loc['A':'B', 'êµ­ì–´':'ìˆ˜í•™']

   êµ­ì–´  ìˆ˜í•™
A  90  92
B  85  88

In [15]:
df.loc[['A','C'], ['êµ­ì–´','ê³¼í•™']]

   êµ­ì–´  ê³¼í•™
A  90  85
C  88  90

ğŸŒµ df.loc[df[column] ~ì¡°ê±´, ì—´]

In [17]:
df.loc[df['ìˆ˜í•™'] >= 90, ['ìˆ˜í•™','ê³¼í•™']]

   ìˆ˜í•™  ê³¼í•™
A  92  85
C  96  90

In [41]:
df.loc[df['ìˆ˜í•™'] >= 90, 'êµ­ì–´':'ìˆ˜í•™']

   êµ­ì–´  ìˆ˜í•™
A  90  92
C  88  96

### 2.2. iloc
- iloc( ) í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ëŠ” ê²½ìš°ì—ëŠ” ê¼­ í–‰/ì—´ì˜ ìˆœì„œë¥¼ ì¸ìˆ˜ë¡œ ë„£ì–´ì•¼ í•œë‹¤!!
- A:B í˜•íƒœë¡œ ìŠ¬ë¼ì´ì‹± í• ë•Œ A,Bê°€ numericì´ë©´ BëŠ” ì œì™¸ëœë‹¤.

In [11]:
df.iloc[:, [1,2]]

   ìˆ˜í•™  ê³¼í•™
A  92  85
B  88  92
C  96  90

In [36]:
df.iloc[:2, :2]

   êµ­ì–´  ìˆ˜í•™
A  90  92
B  85  88

In [37]:
df.iloc[0:2, [0,2]]

   êµ­ì–´  ê³¼í•™
A  90  85
B  85  92